body{
  background: rgb(23 15 35);
}
.nav-item{
  transition: .3s;
  padding: 10px;
}
.nav-item:hover{
  background-color: rgba(127, 127, 127, 0.226);
}
#search{
  outline: none;
  border: none;
  padding: 8px 12px 8px 0;
  background: none;
  color: rgb(237, 236, 236);
}
#search::placeholder{
  font-size: 15px;
  color: rgb(237, 236, 236);
}
.box_search{
  background-color: rgba(127, 127, 127, 0.226);
  color: rgb(218 218 218);
  padding: 0 18px;
  border-radius: 20px;
}
#content #header #header_user ul li{
  background: rgba(218, 218, 218, 0.173);
  border-radius: 50%;
}
#content #header #header_user ul li i {
  padding: 12px;
  color: rgb(218 218 218);
}
#user_profile .right ul li{
  background: rgba(218, 218, 218, 0.173);
  padding: 5px 10px;
}
.song.active{
  padding: 0 10px;
  border-radius: 6px;
  background: rgba(218, 218, 218, 0.173);
}
.song{
  padding: 0 10px;
  border-radius: 6px;
}
#song-avatar{
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}